<!-- eventually have a form to use for each workout/nutrition guide etc... -->

<div class="col-lg-6">
  <h2>Your Workout</h2>
  <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
          <thead>
              <tr>
                <!-- hardcode the table head for now -->
                <!-- in future workout.each for their attribute params  -->
                  <th> # </th>
                  <th> Description </th>
                  <th> Set Count </th>
                  <th> Reps </th>
                  <th> Weight </th>
                  <th> Notes/Comments </th>
              </tr>
          </thead>
          <tbody>

                <tr>
                  <td>1</td>
                  <td>Something pull up</td>
                  <td>3</td>
                  <td>11</td>
                  <td>400</td>
                  <td>Notes on notes, make this show more of it's container width wise</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Something pull down</td>
                  <td>100</td>
                  <td>11</td>
                  <td>400</td>
                  <td>Notes on notes, make this show more of it's container width wise</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Jumping Jacks</td>
                  <td>8</td>
                  <td>11</td>
                  <td>400</td>
                  <td>Notes on notes, make this show more of it's container width wise</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Side Lunges</td>
                  <td>3</td>
                  <td>11</td>
                  <td>400</td>
                  <td>Notes on notes, make this show more of it's container width wise</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Push Ups</td>
                  <td>6</td>
                  <td>11</td>
                  <td>400</td>
                  <td>Notes on notes, make this show more of it's container width wise</td>
                </tr>
                <tr>
                  <!-- form for Workout.new -->
                  <div class="col-lg-6">
                    <div class="input-group">
                      <td>
                          <button class="btn btn-default" type="button">Add</button>
                      </td>
                      <td><input type="text" class="form-control" placeholder="I'm a"></td>
                      <td><input type="text" class="form-control" placeholder="Dummy"></td>
                      <td><input type="text" class="form-control" placeholder="Form"></td>
                      <td><input type="text" class="form-control" placeholder="Weight"></td>
                      <td><input type="text" class="form-control" placeholder="Notes"></td>
                    </div>
                  </div>

                <tr>
                  <div class="col-lg-6">
                    <div class="input-group">
                      <%= form_for @workout, url: {action: "create"} do |f| %>
                        <td><%= f.submit "Add" %></td>
                        <td><%= f.text_field :description, :placeholder => " Description"  %></td>
                        <td><%= f.text_field :set_count, :placeholder => " Set Count"  %></td>
                        <td><%= f.text_field :reps, :placeholder => " Reps"  %></td>
                        <td><%= f.text_field :weight, :placeholder => " Weight"  %></td>
                        <td><%= f.text_field :notes, :placeholder => " Notes/Comments"  %></td>
                      <% end %>
                    </div>
                  </div>
                </tr>


          </tbody>
      </table>
      <!-- input -->
  </div>
</div>
